.idea/*
# Compiled Object files
*.slo
*.lo
*.o

# Tetgen generate files
*.edge
*.ele
*.face
*.node
*.poly

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

*.ini

**/build/
**/release/
**/cmake-build*

.vscode
.xmake
.cache
build.log

*__pycache__
*.pyi