[submodule "0x08_SIMD/Ref/3x3_SVD_CUDA"]
	path = 0x08_SIMD/Ref/3x3_SVD_CUDA
	url = https://github.com/kuiwuchn/3x3_SVD_CUDA.git
[submodule "Sympy/SymEigen"]
	path = Sympy/SymEigen
	url = https://github.com/MuGdxy/SymEigen.git
[submodule "0x12_Reflection/_Refs/USRefl"]
	path = 0x12_Reflection/_Refs/USRefl
	url = https://github.com/Ubpa/USRefl.git
[submodule "0x12_Reflection/_Refs/UDRefl"]
	path = 0x12_Reflection/_Refs/UDRefl
	url = https://github.com/Ubpa/UDRefl.git
